<included>
  <appender name="springSecurityAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_HOME}/logs/${project_home}/springSecurity.xml.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${APP_LOG_HOME}/logs/${project_home}/springSecurity.xml.log.out.%d{yyyy-MM-dd}
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%X{uuid}]   %-16(%d{MM-dd HH:mm:ss}) %-5thread %-5level %logger -%msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.mitre.oauth2.introspectingfilter.IntrospectingTokenService" level="debug" additivity="false" >  
        <appender-ref ref="springSecurityAppender" />  
    </logger>
	<logger name="org.springframework.security.oauth2.provider.authentication.OAuth2AuthenticationProcessingFilter" level="debug" additivity="false" >  
        <appender-ref ref="springSecurityAppender" />  
    </logger>
	<logger name="org.springframework.security.oauth2.provider.OAuth2Authentication" level="debug" additivity="false" >  
        <appender-ref ref="springSecurityAppender" />  
        <appender-ref ref="stdout" />
    </logger>
	<logger name="org.springframework.security.access.intercept.aopalliance.MethodSecurityInterceptor" level="debug" additivity="false" >  
        <appender-ref ref="springSecurityAppender" />  
    </logger>
    
</included>