<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <variable name="project_home" value="demoWeb" />
    
    <include resource="dubboLog-config/dubbo-elapsedTime.xml" />
    <include resource="dubboLog-config/dubbo-log.xml" />
    <include resource="common-log/spring-log.xml" />
    <include resource="common-log/zookeeper-log.xml" />
    
    <include resource="spring-aop/aop-elapsedTime.xml" />
    
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>[%X{uuid}]   %d{MM-dd HH:mm:ss.SSS} %-5thread %-5level %logger -	%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="defaultAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_HOME}/logs/${project_home}/clientDeault.xml.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${APP_LOG_HOME}/logs/${project_home}/clientDeault.xml.log.out.%d{yyyy-MM-dd}
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%X{uuid}]   %-16(%d{MM-dd HH:mm:ss}) %-5thread %-5level %logger -%msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="businessAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_HOME}/logs/${project_home}/business.xml.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
           <level>ERROR</level>  
           <onMatch>DENY</onMatch>  
           <onMismatch>NEUTRAL</onMismatch>  
         </filter> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${APP_LOG_HOME}/logs/${project_home}/business.xml.log.out.%d{yyyy-MM-dd}
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%X{uuid}]  %-16(%d{MM-dd HH:mm:ss}) %-5thread %-5level %logger -%msg%n</pattern>
		</encoder>
		
	</appender>

    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_HOME}/logs/${project_home}/error.xml.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
           <level>ERROR</level>  
           <onMatch>ACCEPT</onMatch>  
           <onMismatch>DENY</onMismatch>  
         </filter> 
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${APP_LOG_HOME}/logs/${project_home}/error.xml.log.out.%d{yyyy-MM-dd}
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%X{uuid}]  %-16(%d{MM-dd HH:mm:ss}) %-5thread %-5level %logger -%msg%n</pattern>
		</encoder>
		
	</appender>

	
    <logger name="com.doctor.business.service.impl" level="info" additivity="false" >  
        <appender-ref ref="businessAppender" />  
        <appender-ref ref="errorAppender" />  
        <appender-ref ref="otherAppender" />  
        <appender-ref ref="stdout" />
    </logger>
    

	<root level="info">
		<appender-ref ref="stdout" />
         <appender-ref ref="businessAppender" />  
        <appender-ref ref="errorAppender" />  
        <appender-ref ref="otherAppender" />  
	</root>
</configuration> 